.kap { display: inline-block; min-width: 1px; min-height: 1px; max-width: 100%; }
.resim { display: block; max-width: 100%; height: auto; }
.hata { color: var(--yazi2); font-size: var(--boy-kucuk); }
